@using mitoSoft.Razor.Components.Enums
@*http://blog.ppedv.de/post/Boostrap-Modal-Dialog-fur-Blazor*@

<SynchronousModal @ref="@_modal" Title="@this._title" OnCloseClicked="@CloseClicked">
    <Content>
        @if (!string.IsNullOrWhiteSpace(this._prompt))
        {
            <p>
                @this._prompt
            </p>
        }
        <p>
            <input type="text" class="form-control" placeholder="@this._placeholder" @bind="@Result">
        </p>
    </Content>
    <Footer>
        <button type="button" class="btn btn-primary" @onclick="@OkClicked">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="@CloseClicked">@Properties.Resources.Close</button>
    </Footer>
</SynchronousModal>

@code {
    private string _title;
    private string _prompt;
    private string _placeholder;
    private SynchronousModal _modal;

    [Parameter]
    public string Result { get; set; }

    [Parameter]
    public Action<MouseEventArgs, DialogResult> OnClosed { get; set; }

    public void Show(string prompt)
    {
        this.Show("", prompt);
    }

    public void Show(string title, string prompt)
    {
        this.Show(title, prompt, "");
    }

    public void Show(string title, string prompt, string placeholder)
    {
        _title = title;
        _prompt = prompt;
        _placeholder = placeholder;
        this.Result = string.Empty;
        _modal.Show();
    }

    public async Task<DialogResult> ShowDialog(string title, string prompt, string placeholder)
    {
        this.Show(title, prompt, placeholder);

        return await _modal.ShowDialog();
    }

    private void CloseClicked(MouseEventArgs e)
    {
        _modal.Close(DialogResult.None);
        this.OnClosed?.Invoke(e, DialogResult.None);
    }

    private void OkClicked(MouseEventArgs e)
    {
        _modal.Close(DialogResult.OK);
        this.OnClosed?.Invoke(e, DialogResult.OK);
    }
}